:root {
    /* Purple and Pinks*/

    /* Blues */
    /* --color-primary: #2D898B;
    --color-secondary: #C1DFF0;
    --color-3: #88CCF1;
    --color-4: #3587A4;
    --color-5: #2D848A; */
    /*Greens*/
    /* --color-primary: #52b788;
    --color-secondary: #95d5b2;
    --color-3: #88CCF1;
    --color-4: #2d6a4f;
    --color-5: #B8B08D; */

    --drop-shadow: 0 0.1em 0.1em rgba(0,0,0,.125);
    --box-shadow: 0 1px 1px rgba(0,0,0,.075),0 2px 2px rgba(0,0,0,.075),0 4px 4px rgba(0,0,0,.075),0 8px 8px rgba(0,0,0,.075),0 16px 16px rgba(0,0,0,.075);
    --logo-url: url("./img/logo.png");
    --whitespace-bg: url("./img/whitespace-bg.jpg") 
}
:root[data-theme="theme-light"] {
    --color-primary: #2E294E;
    --color-secondary: #8661C1;
    --color-3: #88CCF1;
    --color-4: #EFBCD5;
    --color-5: #4B5267;
    --color-whiteish: #FFF1FA;

    --stats-color: #ede5eb;
    --stats-card-color: #FFF1FA;
    --stats-card-header: var(--color-secondary);
    --stats-card-filter-1: invert(42%) sepia(46%) saturate(648%) hue-rotate(221deg) brightness(95%) contrast(90%);
    --stats-card-filter-2: invert(14%) sepia(12%) saturate(3302%) hue-rotate(209deg) brightness(94%) contrast(88%);
    --stats-card-a-1: var(--color-secondary);
    --stats-card-a-2: var(--color-primary);

    --team-card-color: var(--color-whiteish);
    --theme-switcher-color: var(--color-secondary);
    --text-color: black;
    --body-color: white;
    --bold-color: var(--stats-card-header);
    --card-text-color: var(--color-secondary);

    --line-color-1: var(--bold-color);
    --line-color-2: var(--team-card-color);

    --gradient-3: var(--color-primary);
    --gradient-2: #403680;
    --gradient-1: #543883;
    --gradient: var(--color-secondary);

    --link: var(--color-secondary);
    --link-hover: var(--color-primary);
}
:root[data-theme="theme-dark"] {
    --color-primary: #2E294E;
    --color-secondary: #8661C1;
    --color-3: #88CCF1;
    --color-4: #EFBCD5;
    --color-5: #4B5267;
    --color-whiteish: #FFF1FA;

    --stats-color: #2f3b4f;
    --stats-card-color: #42526d;
    --stats-card-header: #61a5c2;
    --stats-card-filter-1: invert(78%) sepia(48%) saturate(380%) hue-rotate(166deg) brightness(90%) contrast(87%);
    --stats-card-filter-2: invert(89%) sepia(83%) saturate(4268%) hue-rotate(170deg) brightness(101%) contrast(80%);
    --stats-card-a-1: #89c2d9;
    --stats-card-a-2: #a9d6e5;

    --team-card-color: #31415e;
    --theme-switcher-color: var(--color-secondary);
    --text-color: #FFF1FA;
    --body-color: #1b263b;
    --bold-color: var(--stats-card-header);
    --card-text-color: #acbddf;

    --line-color-1: var(--bold-color);
    --line-color-2: var(--team-card-color);

    --gradient-3: var(--line-color-1);
    --gradient-2: var(--line-color-2);
    --gradient-1: #224656;
    --gradient: var(--body-color);

    --link: #89c2d9;
    --link-hover: #a9d6e5;
}
body {
    font-family: Nunito,Arial,sans-serif;
    font-size: max(8px,1.25vw);
    margin: 0;
    overflow-x: clip;
    background-color: var(--body-color);
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,Arial,sans-serif;
}
img {--drop-shadow: 0 0.1em 0.1em rgba(0,0,0,.125);
    height: auto;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: var(--link)
}
a:hover {
    text-decoration: none;
    color: var(--link-hover)
}

/* https://github.com/chaoocharles/dark-light-mode */
.toggle-theme {
    background: var(--theme-switcher-color);
    height: 3rem;
    width: 3rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.toggle-theme:hover,
.toggle-theme:focus {
cursor: pointer;
transform: scale(1.1);
}

.toggle-theme i {
font-size: 2rem;
position: absolute;
transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease;
}

.fa-sun {
color: rgb(210, 216, 102);
opacity: 0;
transform: translateX(50px);
}

.fa-moon {
color: rgb(216, 216, 215);
transform: translateX(0px);
}

.checkbox {
display: none;
}

.checkbox:checked ~ .toggle-theme .fa-sun{
    opacity: 1;
    transform: translateX(0px);
}

.checkbox:checked ~ .toggle-theme .fa-moon{
    opacity: 0;
    transform: translateX(-50px);
}


.front-heading-container {
    display: flex;
    height: calc(100vh);
    box-sizing: border-box;
}
    
.front-heading-container .header-container {
    align-items: center;
    background-color: var(--color-primary);
    display: flex;
    height: 100%;
    position: relative;
    width: 75%;
}
.front-heading-container .header-container .theme-switcher {
    position:absolute;
    bottom: 1em;
    right: 1em;
}
.front-heading-container .header-container .container {
    margin: auto 15.625em auto 6.25em;
}
.front-heading-container .header-container .container .header {
    color: #fff;
    font-size: 8em;
    font-weight: 700;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}
.front-heading-container .header-container .head-logo {
    /* margin-bottom: var(--navbar-height); */
    position: absolute;
    right: 0;
    transform: translateX(50%);
    width: 24em;
    z-index: 5;
}
.front-heading-container .header-container .head-logo img {
    content: var(--logo-url);
    filter: drop-shadow(var(--drop-shadow));
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    background: linear-gradient(var(--color-primary), var(--color-secondary)) padding-box,
    linear-gradient(to right, var(--color-secondary), var(--color-primary)) border-box;
    border-radius: 50em;
    border: 10px solid transparent;
}
.front-heading-container .whitespace {
    align-items: center;
    /* background: var(--whitespace-bg) center center; */
    background: var(--gradient-1);
    display: flex;
    justify-content: center;
    position: relative;
    width: 25%;
}
.stats-container {
    align-items: center;
    background-color: var(--stats-color);
    display: flex;
    padding: 5em 10.5em;
    position: relative;
}
.stats-container .container {
    grid-gap: 5em;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(1,1fr); /* This is the amount of mod panels */
    width: 100%;
}
.count-container {
    background-color: var(--stats-card-color);
    border-radius: 1.25em;
    box-shadow: var(--box-shadow);
    padding: 4em;
    text-align: center;
}
.count-container .svg {
    height: 7.8125em;
    width: 7.8125em;
    border-radius: 25%;    
}
.count-container h1 {
    color: var(--stats-card-header);
    font-size: 2.5em;
    font-weight: 700;
}
.count-container h3 {
    font-size: 1.125em;
    font-weight: 500;
}
.count-container .links {
    position: relative;
}
.count-container .links a {
    color: var(--stats-card-a-1);
}
.count-container .links a:hover {
    color: var(--stats-card-a-2);
}
.count-container .links a img {
    height: 1.125em;
    width: 1.125em;
    transform: translateY(0.25em);
    filter: var(--stats-card-filter-1);
}
.count-container .links a img:hover {
    filter: var(--stats-card-filter-2);
}
.about-me-container::before {
    background-image: linear-gradient(var(--gradient), var(--gradient-1));
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--about-me-margin-size);
}
.about-me-container {
    --about-me-margin-size: 20em;
    margin-right: 12.5em;
    margin-right: var(--about-me-margin-size);
    padding: 4em 6.25em;
    position: relative;
}
.about-me-container .sidebar {
    position: absolute;
    top: 1em;
    right: 0;
    transform: translateX(100%);
    width: 20em;
}
.about-me-container .sidebar img{
    width: 14em;
    border-radius: 15%;
    border-width: 0.2em;
    border-style: solid;
    border-color: var(--bold-color);
}
.about-me-container .sidebar .top-image {
    padding-right: 1em;
    padding-left: 4.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    transform: translateY(0.5em);
    rotate: 15deg;
}
.about-me-container .sidebar .middle-image {
    padding-right: 1em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0em;
    transform: translateY(-1.5em);
    rotate: -10deg;
}
.about-me-container .sidebar .bottom-image {
    width: 9em;
    transform: translateY(-5em);
    padding-right: 1em;
    padding-left: 9em;
    padding-bottom: 0.5em;
    padding-top: 0em;
    rotate: 5deg;
}
.about-me-container .header-container {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}
.about-me-container .header-container h1 {
    padding-left: 2em;
    position: relative;
}
.about-me-container .header-container h1 span {
    color: var(--bold-color);
  }
.about-me-container .header-container .line {
    background: linear-gradient(90deg,var(--line-color-1),var(--line-color-2));
    flex: 1;
    height: 2px;
    margin: auto;
}
.about-me-container .content {
    grid-gap: 1em;
    display: grid;
    font-family: "Overpass";
    gap: 1em;
    padding-left: 4em;
}
.about-me-container .content p {
    font-size: 1.25em;
}
.about-me-container .content b {
    color: var(--bold-color)
}

.meet-container::before {
    background-image: linear-gradient(var(--gradient-1), var(--gradient-2));
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--meet-margin-size);
}
.meet-container {
    --meet-margin-size: 20em;
    margin-right: 12.5em;
    margin-right: var(--meet-margin-size);
    padding: 4em 10em;
    position: relative;
}
.meet-container .sidebar {
    position: absolute;
    top: 1em;
    right: 0;
    margin: 0;
    transform: translateX(100%);
    width: 20em;
    overflow: hidden;
}
.meet-container .sidebar img {
    width: 7em;
    border-radius: 50%;
    border-width: 0.2em;
    border-style: solid;
    transition: transform 0.5s ease;
    border-color: var(--bold-color);
}
.meet-container .sidebar .pfp {
    padding-right: 0em;
    padding-left: 2.5em;
    padding-bottom: 0em;
    padding-top: 8em;
    /* transform: translateY(0.5em); */
    /* rotate: 15deg; */
}
.meet-container .sidebar .pfp img:hover,
.meet-container .sidebar .pfp img:focus {
cursor: pointer;
transform: scale(1.1);
}
.meet-container .sidebar img:hover {
    border-color: var(--color-whiteish)
}
.meet-container .line {
    background: linear-gradient(90deg,var(--color-primary),var(--color-secondary));
    flex: 1;
    height: 2px;
    margin: auto;
}
.meet-container .header-container {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}
.meet-container .header-container h1 {
    padding-left: 0em;
    position: relative;
    margin-bottom: .25em;
}
.meet-container .header-container h1::before {
    background-color: var(--bold-color);
    bottom: -.25em;
    content: "";
    height: .25em;
    margin: auto;
    position: absolute;
    width: 90%;
}
.meet-container .header-container h1 span {
    color: var(--bold-color);
}
.meet-container.content {
    grid-gap: 1em;
    display: grid;
    font-family: "Overpass";
    gap: 1em;
    padding-left: 4em;
}
.meet-container .content p {
    font-size: 1.25em;
}
.meet-container .content b {
    text-decoration: none;
    color: var(--bold-color)
}
.meet-container .content .team-title {
    color: var(--bold-color)
}

.meet-container .section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.meet-container .card { 
    display: flex;
    border-radius: 1000px;
    width: 300px;
    overflow: hidden;
    transition: 0.2s;
    text-rendering: optimizeLegibility;
    height: 90px;
    cursor: pointer;
    background-color: var(--team-card-color);
}
.meet-container .card:hover,.meet-container .card:focus {
    transform: scale(1.05);
}
.meet-container .card img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.meet-container .card .text {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--card-text-color)
}
.meet-container .card .text .name {
    font-size: 20px;
    font-weight: 700;
}
.meet-container .card .text .role {
    font-size: 16px;
    font-weight: 200;
}

.contact-container::before {
    background-image: linear-gradient(var(--gradient-2), var(--gradient-3));
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--contact-margin-size);
}
.contact-container {
    --contact-margin-size: 20em;
    margin-right: 12.5em;
    margin-right: var(--contact-margin-size);
    padding: 4em 6.25em;
    position: relative;
}
.contact-container .sidebar {
    position: absolute;
    top: 1em;
    right: 0;
    transform: translateX(100%);
    width: 20em;
}
.contact-container iframe {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    width: 20em;
}
.contact-container .header-container {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}
.contact-container .header-container h1 {
    padding-left: 0em;
    position: relative;
}
.contact-container .header-container h1 span {
    color: var(--color-primary);
  }
.contact-container .header-container .before-line {
    background: linear-gradient(90deg,var(--line-color-1),var(--line-color-2));
    flex: 1;
    height: 2px;
    margin: auto;
}
.contact-container .header-container .after-line {
    background: linear-gradient(90deg,var(--line-color-2),var(--line-color-1));
    flex: 1;
    height: 2px;
    margin: auto;
}
.contact-container .content {
    grid-gap: 1em;
    display: grid;
    font-family: "Overpass";
    gap: 1em;
    padding-left: 4em;
}
.contact-container .content p {
    font-size: 1.25em;
}
.contact-container .content b {
    color: var(--bold-color)
}
